@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-green: #156064;
  --light-green: #e3f6cb;
  --light-purple: #d9cbff;
  --orange: #f89b77;
  --white: #fff;
  --light-gray: #f9f9f9;
  --purple: #9d86dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Manrope";
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  line-height: 1.6;
}

h2,
h3,
h4 {
  color: var(--dark-green);
}

h2,
h3 {
  margin: 16px 0;
  text-align: center;
}

a {
  color: black;
}

.orange-text {
  color: var(--orange);
}

.purple-text {
  color: var(--purple);
}

header,
main {
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }

  h1 {
    color: var(--dark-green);
    font-size: 20px;

    span {
      color: var(--orange);
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  a {
    color: black;
  }

  a:hover {
    font-weight: 700;
    transition: font-weight 0.3s ease;
  }
}

.site-button {
  color: var(--white);
  font-weight: 600;
  background-color: var(--dark-green);
  padding: 10px 18px;
  border-radius: 50px;
}

.dark-mode-button,
.light-mode-button {
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
}

.dark-mode-button {
  background-color: var(--dark-green);
}

.light-mode-button {
  display: none;
}

.hamburger {
  display: none;
}

body > hr {
  margin: 0 20px;
  border: none;
  height: 0.5px;
  background-color: lightgrey;
}

main {
  flex: 1;
}

.banner {
  position: relative;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;

  img {
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.main-banner {
  height: 30vh;
  color: var(--white);

  img {
    filter: brightness(0.7);
  }

  h2,
  p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
}

.features-section {
  padding: 20px 0;
  a {
    display: block;
    text-align: center;

    color: var(--dark-green);
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.cards {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  article {
    background-color: var(--light-gray);
    border-radius: 20px;
    padding: 10px;

    p {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 1.5;
    }

    img {
      border-radius: 10px;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
}

.banner.secondary-banner {
  h2 {
    max-width: 600px;
  }
}

.contact-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;

  p {
    color: var(--dark-green);
  }
}

.form {
  max-width: 600px;
  padding: 20px;

  label {
    font-weight: 600;
    font-size: 16px;
    color: var(--dark-green);
    margin-bottom: 6px;
  }

  input,
  textarea {
    background: #eaf8d7;
    border: none;
    border-radius: 20px;
    padding: 12px 18px;
    font-size: 1rem;
    color: #5c7f7b;
  }

  textarea {
    min-height: 90px;
    resize: none;
  }
}

.field-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 18px;
}

.row {
  display: flex;
  gap: 16px;
}

/* --- ACTIVIDADES.HTML --- */
.intro-actividades {
  padding: 20px 0;
}

.grilla-actividades {
  padding-top: 20px;

  .card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    li {
      list-style-type: disc;
      margin-left: 20px;
    }
  }

  .actividad,
  figure {
    width: 50%;
  }

  .actividad {
    padding: 20px;
  }

  figure {
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }
  }
}

footer {
  background-color: var(--light-green);
  padding: 20px 20px 0px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-bottom {
  padding: 20px 0;
}

/********* MODO OSCURO *********/
body.modo-oscuro {
  background-color: #082628;
  color: #e9f4ef;
}

/* HEADER */
body.modo-oscuro header {
  background-color: var(--light-green);
}

/* NAV */
body.modo-oscuro .navbar a {
  color: #0e1a17;
}

body.modo-oscuro .site-button {
  background-color: var(--dark-green);
  color: var(--white) !important;
}

/* FOOTER */
body.modo-oscuro footer,
body.modo-oscuro footer p {
  background-color: var(--light-green);
  color: #000;
}

body.modo-oscuro .footer-column a {
  color: #000;
}

/* FORMULARIO */
body.modo-oscuro .form input,
body.modo-oscuro .form textarea {
  background-color: #eaf8d7;
  color: #0e1a17;
}

/* CARDS y FEATURES */
body.modo-oscuro .card {
  background-color: #156064;
  color: #e9f4ef;
  border-radius: 10px;
}

body.modo-oscuro .main-banner h1,
body.modo-oscuro .main-banner p,
body.modo-oscuro h2,
body.modo-oscuro .card h3,
body.modo-oscuro p,
body.modo-oscuro label,
body.modo-oscuro a {
  color: var(--white);
}

body.modo-oscuro .banner.secondary-banner h2,
body.modo-oscuro .banner h2 {
  color: var(--dark-green);
}

/* BOTONES de MODO */
body.modo-oscuro .dark-mode-button {
  display: none;
}
body.modo-oscuro .light-mode-button {
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
}

@media (min-width: 992px) {
  .banner {
    height: 40vh;
  }
}

/* Ancho para tablets */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .navbar.show {
    display: flex;
  }

  .hamburger {
    display: block;
    cursor: pointer;

    background: none;
    border: none;
    font-size: 1.6rem;
    color: black;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0 20px;
    padding-bottom: 20px;
    background-color: var(--white);
  }

  .navbar ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    li {
      border-top: 1px solid lightgrey;
      width: 100%;

      a {
        display: block;
        width: 100%;

        text-align: center;
        padding: 20px;
      }
    }
  }

  .site-button {
    margin-top: 20px;
    padding: 10px 18px !important;
  }

  .features-section * {
    text-align: center;
  }

  .banner.secondary-banner {
    height: auto;
    padding: 20px;
    text-align: center;

    h2 {
      margin: 0px;
    }
  }

  .contact-section {
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;

    h2 {
      text-align: start;
    }
  }

  .form {
    width: 80%;
  }

  .row {
    flex-direction: column;
    gap: 0;
  }

  /* ACTIVIDADES.HTML */
  .intro-actividades {
    text-align: center;
  }
  .grilla-actividades {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 20px;

    .card {
      display: flex;
      flex-direction: column;

      background-color: var(--light-gray);
      border-radius: 20px;
      padding: 20px;

      .actividad,
      figure {
        width: 100%;
      }

      p {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 1.5;
      }

      figure {
        border-radius: 10px;
        max-width: 100%;
        max-height: 250px;
        object-fit: cover;
      }

      li {
        font-size: 14px;
      }
    }

    .reverse {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  .footer-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .form {
    width: 100%;
  }
}
